<!-- Begin page content -->
<div class="row">
  <div class="col-md-3">
    <h3>Categories</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor = "let category of cats"><a href="/category/{{category.id}}">{{category.name}}</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="row">
        <div class="col-md-3" *ngFor = "let product of latest_products">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{ this.prodSvc.getURL(product.thumbnail )}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
                <small class="text-mute"></small>
                <a href="#" class="btn btn-primary">view</a>
              </div>
            </div>
        </div>
    </div>
  </div>

</div>