<!-- <div class="container">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="assets/img/1.jpg" class="d-block w-100">
	    </div>
	    <div class="carousel-item">
	      <img src="assets/img/2.jpg" class="d-block w-100">
	    </div>
	    <div class="carousel-item">
	      <img src="assets/img/3.jpg" class="d-block w-100">
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div> -->

<div class = "row mt-5">
	<div class="col-lg-3" *ngFor = "let product of latest_products">
		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="{{ this.prodSvc.getURL(product.thumbnail )}}" alt="Card image cap" width="300" height="200">
		  <div class="card-body">
		    <h5 class="card-title">{{product.title}}</h5>
				<p class="card-text">{{product.description}}</p>
				<small class="text-mute"></small>
		    	<a routerLink="/products/{{product.id}}/view" class="btn btn-primary mr-1">view</a>
		    	<a class="btn btn-warning mr-1" routerLink="/products/{{product.id}}/edit">Edit</a>
		    	<a routerLink="/products/{{product.id}}/delete" class="btn btn-danger mr-1">Delete</a>
		  </div>
		</div>
	</div>
</div>
<h5>Best Seller</h5>
<div class = "row mt-5">
		<div class="col-lg-3" *ngFor = "let product of bestseller_products">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="{{ this.prodSvc.getURL(product.thumbnail )}}" alt="Card image cap" width="300" height="200">
				<div class="card-body">
					<h5 class="card-title">{{product.title}}</h5>
					<p class="card-text">{{product.description}}</p>
					<a routerLink="/products/{{product.id}}/view" class="btn btn-primary mr-1">view</a>
					<a class="btn btn-warning mr-1" routerLink="/products/{{product.id}}/edit">Edit</a>
		    		<a routerLink="/products/{{product.id}}/delete" class="btn btn-danger mr-1">Delete</a>
				</div>
			</div>
		</div>
</div>
<h5>Latest</h5>
<div class = "row mt-5">
		<div class="col-lg-3" *ngFor = "let product of latest_products">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="{{ this.prodSvc.getURL(product.thumbnail )}}" alt="Card image cap" width="300" height="200">
				<div class="card-body">
					<h5 class="card-title">{{product.title}}</h5>
					<p class="card-text">{{product.description}}</p>
					<a routerLink="/products/{{product.id}}/view" class="btn btn-primary mr-1">view</a>
					<a class="btn btn-warning mr-1" routerLink="/products/{{product.id}}/edit">Edit</a>
		    		<a routerLink="/products/{{product.id}}/delete" class="btn btn-danger mr-1">Delete</a>
				</div>
			</div>
		</div>
</div>