<div class="container justify-content-center">
    <div class="col-lg-6 bg-light p-3">
        <form action="" method="POST">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/auth/signup" type="submit" class="btn btn-primary">Sign Up</a>
        </form>
    </div>
</div>
