<div class="container justify-content-center">
    <div class="col-lg-6 bg-light p-3">
        <form action="/auth/signup" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
          <button class="btn btn-primary">Register</button>
          <a href="/auth/login" type="submit" class="btn btn-primary">Login</a>
        </form>
    </div>
</div>
