<div class="products-page">
    <h1 class="h2">Create New Products</h1>
    <form action="/admin/product/store" method="POST" enctype="multipart/form-data">
        <div class="from-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title"/>
        </div>
        <div class="from-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price"/>
        </div>
        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" name="thumbnail" class="form-control-file" id="exampleFormControlFile1"/>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="exampleFormControlSelect1" name="category_id">
                <option values="">Choose One</option>
                <% for(var i = 0; i < categories.length; i++){ %>
                    <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for ="description">Description</label>
            <input type="text" class="form-control" name="description"/>
        </div>
        <div class="form-group">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>

</div>