<div class="col-md-2">
    <a href="/admin/product/create" class="btn btn-primary">Add New</a>
</div> 
<div class="container">
    <h2>Products</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>photo</th>
                <th>category</th>
                <th>description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <%  if(products.length > 0) { %>
                    <%  products.map((product,i)=>{  %>
                    <tr>
                        <td><%=product.id%></td>
                        <td><%=product.title%></td>
                        <td>
                            <% if(product.thumbnail) {%>
                                <img src="/uploads/<%=product.thumbnail%>" style="width: 140px">
                            <% }else {%>
                                no file found
                            <% } %>
                        </td>
                        <td><%=product.Category.name%></td>
                        <td><%=product.description%></td>
                        <td>
                            <a href="/admin/product/<%= product.id %>/delete" type="button" class="btn btn-danger">Delete</a>
                            <a href="/admin/product/<%= product.id %>" type="button" class="btn btn-warning">Edit</a>
                            <a href="/admin/product/<%= product.id %>" type="button" class="btn btn-info">View</a>
                        </td>
                    </tr>
                    <%  }) %>  
                <%  }else { %>
                    <tr>
                        <td colspan="5">
                            <p class="alert alert-info">No record found!</p>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
    